@media screen and (max-width:700px){
  
    
    nav{
        flex-direction: column;
    }
    header{
        height: 25vh;
    }
    
    
    .kart{
        justify-content: center;
        position: relative;
      
        
    }
    .but{
        position: relative;
        bottom: 80px;
        right: 30px;

               
    
    }
    .cards{
         flex-wrap: wrap;
    }
    nav ul li a{
        position: relative;
        right: 55px;
        font-size: 22px;
        bottom: 15px;
        padding: 1px;
    }
    .search{
        position: relative;
        bottom: 30px;
    }
  
    
}