footer{
    background-color: rgb(0, 140, 255);
    height: 50px;
    text-align: center;
   
}
*{
    margin: 0%;
}
header{
    background-color: rgb(0, 140, 255);
    height: 50px;
    text-align: center;
    
}
 nav ul {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     height: 50px;
    
     
     
}

nav ul li{
    padding: 0 20px;
    list-style-type: none;
  
   
   
}
.kart{ 
     display: flex;
   
   
   
}
nav ul li a {
    color: white;
    text-decoration:none ;
    
}

    

.kart img{
    height: 40px;
    width: 80px;
    padding: 10px;
   
    
    }
 nav{
     display: flex;
    
}
.kiro{
    min-height: calc(100vh - 50px - 50px);
    
}
.search{
    display: flex;
     align-items: center;
     height: 50px;
   
}
input{
    width: 30vw;
    background-image: url('icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30px;
   
}
nav ul li a:hover{
    color: blue;
}
button{
    height: 20px;
    color:rgb(0, 119, 255);
    font-weight: bold;
    
}
.but{
    padding: 15px 40px;
    
    
}
.slider img{
    height: 500px;
    width: 93vw;
    margin: 3vw;
   
    
}
.rulo{
    margin: 30px;
}
.lines{
    margin: 20px;
}

.cards{
    display: flex;
   
    
   
}
.card-item{
    margin: 20px;
}



    
  

 
    










